{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vibhav</title>
  <meta charset="utf-8">
  <meta name="google-signin-client_id" content="1070971803593-3hd91o173485uaa566r3rleamsseo3gn">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/images.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/animates.css' %}" type="text/css">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/track-modal.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>

<body>
      <section class="hero" >
        <div class="hero-inner">

            <section id="section03" class="demo">
              <h1>Vibhav 2k19</h1>
            <h2>The Techfest of Electrical Department</h2>
              <a href="#navb"><span></span>Scroll</a>

            </section>
        </div>
    </section>


 <div class="full-screen">
<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/bg1.jpg' %}" alt="Los Angeles" width="100%" style="max-height:500px;">
        <div class="carousel-caption">
          <h3>Vibhav 2K19</h3>
          <p>The Techfest of Electrical Department</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/bg2.jpg' %}" alt="Chicago" width="100%" style="max-height:500px;">
        <div class="carousel-caption">
            <h3>Vibhav 2K19</h3>
            <p>The Techfest of Electrical Department</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/bg3.jpg' %}" alt="New York" width="100%" style="max-height:500px;">
        <div class="carousel-caption">
            <h3>Vibhav 2K19</h3>
            <p>The Techfest of Electrical Department</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>

<nav id="navb" class="navbar navbar-expand-md  navbar-light sticky-top">
  {% if user.is_authenticated %}
  <h4>{{ coin }} <img src="{% static 'images/coins.png' %}" width="40px" height="40px">
  </h4>
  {% else %}
  <a class="navbar-brand" style="color:white;" href="/">Vibhav</a>
  {% endif %}
        <button class="navbar-toggler" style="background-color:white;"type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#events">Events</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link " href="#schedule">Schedule</a>
                  </li>
            <li class="nav-item">
              <a class="nav-link" href="#contacts">Contacts</a>
            </li>

          </ul>
          <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                        <a class="nav-link " href="https://www.facebook.com/vibhav.iitismdhanbad/" target="_blank">
                          <i class="fab fa-facebook-f"> </i>
                        </a>
                      </li>
                      <li class="nav-item">
                            <a class="nav-link" href="#" target="_blank">
                              <i class="fab fa-instagram"> </i>
                            </a>
                          </li>
                {% if user.is_authenticated %}
                <li class="nav-item" id="logout">
                    <a href="/web/logout" role="button" class="btn btn-primary btn-md" onclick="signOut();" style="text-transform:capitalize">Sign out</a>
                  </li>

                  <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
                  <script>

                  // const auth2 = window.gapi && window.gapi.auth2 && window.gapi.auth2.getAuthInstance();

                    function signOut() {
                      console.log('logging out')
                        var auth2 = gapi.auth2.getAuthInstance();
                        //const auth2 = window.gapi && window.gapi.auth2 && window.gapi.auth2.getAuthInstance();

                        auth2.signOut().then(function () {
                          console.log('User signed out.');
                        });
                      }
                      function onLoad() {
                      gapi.load('client:auth2', function() {
                      gapi.auth2.init();
                      });
                    }
                    </script>
                {% else %}
                <li class="nav-item">

                      <div class="col-12 text-center py-2">
                          {% csrf_token %}
                          <!-- <script src = "https://plus.google.com/js/client:platform.js" async defer></script> -->
                          <meta name="google-signin-client_id" content="1070971803593-3hd91o173485uaa566r3rleamsseo3gn">

                        <div class="g-signin2" data-onsuccess="onSignIn"></div>
                         </div>

              </li>


                {% endif %}
              </ul>
        </div>
      </nav>
      <input id="nameag" val="" type="hidden">
      <input id="imageurls" val="" type="hidden">
      <input id="emailag" val="" type="hidden">

      <script>

 function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
   console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
  $.ajax({
      type:'POST',
      url:'/web/google_signin',
      data:{
        imageurl:profile.getImageUrl(),
        id:profile.getId(),
        name:profile.getName(),
        email:profile.getEmail(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success:function(response){
        if(response=='Success'){

         alert('signed in successfully')
         window.location.href="/";
        }
        if(response=='Registered'){
          console.log('registered')
          window.location.href="/web/profile";
        }
        else{
        //alert(response);
        }
      },
      error:function(xhr){
        alert(`An error occcured: `+xhr.status+" "+ xhr.statusText+" "+xhr.responseText);
      }
    })
}

  </script>


<div class="contents">

   {% block content %}
      {% endblock content %}
</div>


       <script>



         $("#btnLogin").click(function(event) {

//Fetch form to apply custom Bootstrap validation
var form = $("#formLogin")

if (form[0].checkValidity() === false) {
  event.preventDefault()
  event.stopPropagation()
}
form.addClass('was-validated');

});

$("#btnRegister").click(function(event) {

//Fetch form to apply custom Bootstrap validation
var form = $("#formRegister")

if (form[0].checkValidity() === false) {
  event.preventDefault()
  event.stopPropagation()
}
form.addClass('was-validated');

});



       </script>

       <script type="text/javascript">



        $(document).on('submit','#register',function(e){
         e.preventDefault();
         $.ajax({
           type:'POST',
           url:'/web/eventregister',
           data:{
             team_name:$('#id_team_name').val(),
             event:$('#eventselected').val(),
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
           },
           success:function(response){
             if(response=='Success'){
               window.location.href="/";
               alert('Registered Successfuly.Participate to get the coupon')
             }
             else{
             alert("Fill the form properly");
             }
           },
           error:function(xhr){
             alert(`An erroe occcured: `+xhr.status+" "+ xhr.statusText+" "+xhr.responseText);
           }
         })
       })
       $(document).on('submit','#create',function(e){
                       e.preventDefault();
                       $.ajax({
                         type:'POST',
                         url:'/web/eventregister',
                         data:{
                           team_name:$('#id_team_name').val(),
                           event:$('#useme').val(),
                           adm:"none",
                           csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                         },
                         success:function(response){
                           if(response=='Success'){
                             window.location.href="/";
                             alert('Registered Successfuly.Participate to get the coupon')
                           }
                           else if(response=='Already'){
                             alert('This team has been already created.')
                           }
                           else if(response=='ncreated'){
                             alert('This team is not created so can not not join this Team.')
                           }
                           else if(response=='Full'){
                             alert('This Team is full')
                           }
                           else if(response=='null'){
                             alert('Team cannot be empty')
                           }
                           else{
                           alert(response);
                           }
                         },
                         error:function(xhr){
                           alert(`An erroe occcured: `+xhr.status+" "+ xhr.statusText+" "+xhr.responseText);
                         }
                       })
                     })

        $(document).on('submit','#join',function(e){
                       e.preventDefault();
                       $.ajax({
                         type:'POST',
                         url:'/web/eventregister',
                         data:{
                           team_name:$('#id_team').val(),
                           event:$('#useme').val(),
                           adm:"897",
                           csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                         },
                         success:function(response){
                           if(response=='Success'){
                             window.location.href="/";
                             alert('Registered Successfuly.Participate to get the coupon')
                           }
                           else if(response=='Already'){
                             alert('This team has been already created.')
                           }
                           else if(response=='ncreated'){
                             alert('This team is not created so can not not join this Team.')
                           }
                           else if(response=='Full'){
                             alert('This Team is full')
                           }
                           else{
                           alert(response);
                           }
                         },
                         error:function(xhr){
                           alert(`An erroe occcured: `+xhr.status+" "+ xhr.statusText+" "+xhr.responseText);
                    }
                 })
                })


       $(document).on('submit','#guest_lectureverify',function(e){
         e.preventDefault();
         $.ajax({
           type:'POST',
           url:'/web/verify',
           data:{
             coupon:$('#guest_lecturecoin').val(),
             event:'guest_lecture',
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
           },
           success:function(response){
             if(response=='Success'){
               window.location.href="/";
               alert('Hurray...Your coupoun has been reedemed')
             }
             else if(response=='Wrong'){
             alert("Invalid Coupon");
             }
             else{
               alert('Invalid Event')
             }
           },
           error:function(xhr){
             alert(`An error occcured: `+xhr.status+" "+ xhr.statusText+" "+xhr.responseText);
           }
         })
       })

         $(document).on('submit','#pubgverify',function(e){
         e.preventDefault();
         $.ajax({
           type:'POST',
           url:'/web/verify',
           data:{
             coupon:$('#pubgcoin').val(),
             event:'pubg',
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
           },
           success:function(response){
             if(response=='Success'){
               window.location.href="/";
               alert('Hurray...Your coupoun has been reedemed')
             }
             else if(response=='Wrong'){
             alert("Invalid Coupon");
             }
             else{
               alert('Invalid Event')
             }
           },
           error:function(xhr){
             alert(`An error occcured: `+xhr.status+" "+ xhr.statusText+" "+xhr.responseText);
           }
         })
       })
        $(document).on('submit','#sherlockedverify',function(e){
         e.preventDefault();
         $.ajax({
           type:'POST',
           url:'/web/verify',
           data:{
             coupon:$('#sherlockedcoin').val(),
             event:'sherlocked',
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
           },
           success:function(response){
             if(response=='Success'){
               window.location.href="/";
               alert('Hurray...Your coupoun has been reedemed')
             }
             else if(response=='Wrong'){
             alert("Invalid Coupon");
             }
             else{
               alert('Invalid Event')
             }
           },
           error:function(xhr){
             alert(`An error occcured: `+xhr.status+" "+ xhr.statusText+" "+xhr.responseText);
           }
         })
       })
       $(document).on('submit','#marketing_roadiesverify',function(e){
         e.preventDefault();
         $.ajax({
           type:'POST',
           url:'/web/verify',
           data:{
             coupon:$('#marketing_roadiescoin').val(),
             event:'marketing_roadies',
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
           },
           success:function(response){
             if(response=='Success'){
               window.location.href="/";
               alert('Hurray...Your coupoun has been reedemed')
             }
             else if(response=='Wrong'){
             alert("Invalid Coupon");
             }
             else{
               alert('Invalid Event')
             }
           },
           error:function(xhr){
             alert(`An error occcured: `+xhr.status+" "+ xhr.statusText+" "+xhr.responseText);
           }
         })
       })

       $(document).on('submit','#treasure_huntverify',function(e){
         e.preventDefault();
         $.ajax({
           type:'POST',
           url:'/web/verify',
           data:{
             coupon:$('#treasure_huntcoin').val(),
             event:'treasure_hunt',
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
           },
           success:function(response){
             if(response=='Success'){
               window.location.href="/";
               alert('Hurray...Your coupoun has been reedemed')
             }
             else{
             alert("Invalid Coupon");
             }
           },
           error:function(xhr){
             alert(`An error occcured: `+xhr.status+" "+ xhr.statusText+" "+xhr.responseText);
           }
         })
       })

       $(document).on('submit','#auction_villaverify',function(e){
         e.preventDefault();
         $.ajax({
           type:'POST',
           url:'/web/verify',
           data:{
             coupon:$('#auction_villacoin').val(),
             event:'auction_villa',
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
           },
           success:function(response){
             if(response=='Success'){
               window.location.href="/";
               alert('Hurray...Your coupoun has been reedemed')
             }
             else{
             alert("Invalid Coupon");
             }
           },
           error:function(xhr){
             alert(`An error occcured: `+xhr.status+" "+ xhr.statusText+" "+xhr.responseText);
           }
         })
       })

       $(document).on('submit','#cs_goverify',function(e){
         e.preventDefault();
         $.ajax({
           type:'POST',
           url:'/web/verify',
           data:{
             coupon:$('#cs_gocoin').val(),
             event:'cs_go',
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
           },
           success:function(response){
             if(response=='Success'){
               window.location.href="/";
               alert('Hurray...Your coupoun has been reedemed')
             }
             else{
             alert("Invalid Coupon");
             }
           },
           error:function(xhr){
             alert(`An error occcured: `+xhr.status+" "+ xhr.statusText+" "+xhr.responseText);
           }
         })
       })

       $(document).on('submit','#placement_feververify',function(e){
         e.preventDefault();
         $.ajax({
           type:'POST',
           url:'/web/verify',
           data:{
             coupon:$('#placement_fevercoin').val(),
             event:'placement_fever',
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
           },
           success:function(response){
             if(response=='Success'){
               window.location.href="/";
               alert('Hurray...Your coupoun has been reedemed')
             }
             else{
             alert("Invalid Coupon");
             }
           },
           error:function(xhr){
             alert(`An error occcured: `+xhr.status+" "+ xhr.statusText+" "+xhr.responseText);
           }
         })
       })

       $(document).on('submit','#laze_mazeverify',function(e){
         e.preventDefault();
         $.ajax({
           type:'POST',
           url:'/web/verify',
           data:{
             coupon:$('#lazer_mazecoin').val(),
             event:'lazer_maze',
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
           },
           success:function(response){
             if(response=='Success'){
               window.location.href="/";
               alert('Hurray...Your coupoun has been reedemed')
             }
             else{
             alert("Invalid Coupon");
             }
           },
           error:function(xhr){
             alert(`An error occcured: `+xhr.status+" "+ xhr.statusText+" "+xhr.responseText);
           }
         })
       })
       $(document).on('submit','#robo_soccerverify',function(e){
         e.preventDefault();
         $.ajax({
           type:'POST',
           url:'/web/verify',
           data:{
             coupon:$('#robo_soccercoin').val(),
             event:'robo_soccer',
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
           },
           success:function(response){
             if(response=='Success'){
               window.location.href="/";
               alert('Hurray...Your coupoun has been reedemed')
             }
             else{
             alert("Invalid Coupon");
             }
           },
           error:function(xhr){
             alert(`An error occcured: `+xhr.status+" "+ xhr.statusText+" "+xhr.responseText);
           }
         })
       })

       $(document).on('submit','#buffet_moneyverify',function(e){
         e.preventDefault();
         $.ajax({
           type:'POST',
           url:'/web/verify',
           data:{
             coupon:$('#buffet_moneycoin').val(),
             event:'event_money',
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
           },
           success:function(response){
             if(response=='Success'){
               window.location.href="/";
               alert('Hurray...Your coupoun has been reedemed')
             }
             else{
             alert("Invalid Coupon");
             }
           },
           error:function(xhr){
             alert(`An error occcured: `+xhr.status+" "+ xhr.statusText+" "+xhr.responseText);
           }
         })
       })

       $(document).on('submit','#codeeverify',function(e){
         e.preventDefault();
         $.ajax({
           type:'POST',
           url:'/web/verify',
           data:{
             coupon:$('#codeecoin').val(),
             event:'codee',
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
           },
           success:function(response){
             if(response=='Success'){
               window.location.href="/";
               alert('Hurray...Your coupoun has been reedemed')
             }
             else{
             alert("Invalid Coupon");
             }
           },
           error:function(xhr){
             alert(`An error occcured: `+xhr.status+" "+ xhr.statusText+" "+xhr.responseText);
           }
         })
       })

       $(document).on('submit','#technovationverify',function(e){
         e.preventDefault();
         $.ajax({
           type:'POST',
           url:'/web/verify',
           data:{
             coupon:$('#technovationcoin').val(),
             event:'technovation',
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
           },
           success:function(response){
             if(response=='Success'){
               window.location.href="/";
               alert('Hurray...Your coupoun has been reedemed')
             }
             else{
             alert("Invalid Coupon");
             }
           },
           error:function(xhr){
             alert(`An error occcured: `+xhr.status+" "+ xhr.statusText+" "+xhr.responseText);
           }
         })
       })

       $(document).on('submit','#aaviskarverify',function(e){
         e.preventDefault();
         $.ajax({
           type:'POST',
           url:'/web/verify',
           data:{
             coupon:$('#aaviskarcoin').val(),
             event:'aaviskar',
             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
           },
           success:function(response){
             if(response=='Success'){
               window.location.href="/";
               alert('Hurray...Your coupoun has been reedemed')
             }
             else{
             alert("Invalid Coupon");
             }
           },
           error:function(xhr){
             alert(`An error occcured: `+xhr.status+" "+ xhr.statusText+" "+xhr.responseText);
           }
         })
       })
       </script>

</body>
<style>
footer {

  background-color: #dedede;
}



 .social:hover {
  -webkit-transform: scale(2.5);
  -moz-transform: scale(2.5);
  -o-transform: scale(2.5);
  color:aliceblue;
}

 .social {
  -webkit-transform: scale(1.5);
  /* Browser Variations: */

  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  padding:0 20px 0 20px;
}
/*
    Multicoloured Hover Variations
*/

 #social-fb {
  color: #3B5998;
}

 #social-tw {
  color: #4099FF;
}

 #social-gp {
  color: #d34836;
}

 #social-em {
  color: #4099FF;
}
.circular--portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}
.circular--portrait:hover {
  
  border: 20px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.90);
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width:250px;
  height:250px;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}
.page-footer{
  background: #9D50BB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
</style>


<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">
  <h2 class="text-center" style="color:lightgrey;">Developer</h2><br>
    <!-- <div class="row col-md-10 m-auto justify-content-md-center"> -->
        <div class=" circular--portrait">
              <img src="https://scontent.fpat1-1.fna.fbcdn.net/v/t1.0-9/28378746_200711783848556_4359933158362338500_n.jpg?_nc_cat=102&_nc_ht=scontent.fpat1-1.fna&oh=430ae250084885a14b82055f70985499&oe=5CCE91C4"  alt="Cinque Terre" >

        </div>
        <div style="margin:0 auto;">
           <div class="team-title text-center">
          <h5>Gaurav Pandey</h5>
    </div>
      <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/profile.php?id=100017292073841" class="btn-floating btn-fb mx-1">
              <i id="social-fb" class="fab fa-facebook-f social"> </i>
            </a>
          </li>

          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/gaurav-pandey-98b753170/" class="btn-floating btn-li mx-1">
              <i id="social-em"class="fab fa-linkedin-in social"> </i>
            </a>
          </li>
        </ul>

        </div>

      <!--   <div class="col-md-3 circular--portrait">
              <img src="https://cdnb.artstation.com/p/assets/images/images/007/776/855/large/joachim-mcdonald-joachim-avatar-smooth2.jpg?1508434889" class=" img-fluid mx-auto d-block img-frame img-thumbnail img-responsive" alt="Cinque Terre" style="width: 60%;height: 16rem; border-radius: 48%;">
              <div class="team-title text-center">
                  <h5>Martin Smith</h5>
            </div>
              <ul class="list-unstyled list-inline text-center">
                  <li class="list-inline-item">
                    <a class="btn-floating btn-fb mx-1">
                      <i id="social-fb" class="fab fa-facebook-f social"> </i>
                    </a>
                  </li>

                  <li class="list-inline-item">
                    <a class="btn-floating btn-li mx-1">
                      <i id="social-em"class="fab fa-linkedin-in social"> </i>
                    </a>
                  </li>
                </ul>
        </div> -->
 <!--  </div> -->
  <!-- Footer Elements -->
  <div class="container">



    <!-- Social buttons -->

    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    Vibhav2k19
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</html>

